@model YN_Network.Areas.News.ViewModels.HomeViewModel
@using System.Globalization
<div class="row">
    <div class="columns small-12 medium-8">
        <h2>Latest News</h2>
    </div>
   
</div>
<div class="row">
    <div class="columns small-12 medium-8">

        @foreach (YN_Network.Areas.News.Models.Article article in Model.Articles)
        {

            await Html.RenderPartialAsync("../Partials/_ArticleItem", article);
        }
        <!---Powered by: <a href="#">News API</a>-->
    </div>
    <div class="columns small-12 medium-4">
        <form asp-area="News" asp-controller="Home" asp-action="Index" method="get">
            <div class="input-group">
                <div class="input-group-label">
                    Language
                </div>
                <select name="country" class="input-group-field">
                   @foreach(string country in Model.SourcesCountries)
                   {
                       <option value="@country">@{
                           var cultureInfo = new CultureInfo(country);
                           var regionInfo = new RegionInfo(cultureInfo.Name);
                           @regionInfo.EnglishName;

                       }</option>
                   }
                </select>
                <div class="input-group-button">
                    <input type="submit" class="input-group-submit" />

                </div>
            </div>
        </form>
        <div>
            
            @{
                await Html.RenderPartialAsync("../../Areas/Comics/Views/Widgets/_HomePageComicWidget", Model.Comic);
            }
        </div>

    </div>
</div>
