@model YN_Network.Areas.News.ViewModels.HomeViewModel
<h2>Latest News</h2>

@foreach (YN_Network.Areas.News.Models.Article article in Model.Articles)
{

    Html.RenderPartial("../Partials/_ArticleItem", article);
}



<hr />

Powered by: <a href="#">News API</a>