@using YN_Network.Areas.Search.Models

        <div>
            @foreach (YN_Network.Areas.Search.Models.Topic topic in Topics)
            {
                @if (topic.Text != null)
                {
                    <div class="callout">
                        <div class="row">
                            <div class="columns small-12 medium-4">
                                <img src="@topic.Icon.URL" width="100%" />
                            </div>
                            <div class="columns small-12 medium-8">
                                <strong>@topic.Text</strong>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>



@code {
    [Parameter]
    public ICollection<Topic> Topics { get; set; }
}
