@namespace YN_Network.Areas.Jokes.ViewComponents
<div class="joke callout" style="width:100%">
    <div class="content">
        <div class="setup-joke"><em>@Joke.Setup</em></div>
        <div class="punchline"><strong>@Joke.PunchLine</strong></div>
    </div>
    <div class="type">
        type: <em>
            <a asp-area="Jokes"
               asp-controller="Home"
               asp-action="Index"
               asp-route-type="@Joke.Type">
                @Joke.Type
            </a>
        </em>
    </div>
</div>

@code {
    [Parameter]
    public Models.Joke Joke { get; set; }
}