@model YN_Network.ViewModels.HomeViewModel

    <div id="home-page" class="row">
        <div class="columns small-12 medium-3" id="home-comic">
            @{
                Html.RenderPartial("../../Areas/Comics/Views/Widgets/_HomePageComicWidget", Model.Comic);
            }
        </div>
        <div class="columns small-12 medium-6" id="home-news">
           @{
               Html.RenderPartial("../../Areas/News/Views/Widgets/_HomePageNewsWidget", Model.Articles);
           }
        </div>
        <div class="columns small-12 medium-3">
        </div>
    </div>