@model YN_Network.ViewModels.HomeViewModel
<div>
    <strong>YN Index: </strong>
    <input type="text" placeholder="Search!"><button>Search!</button>
    <button>Submit Link</button>
</div>
<hr>
<div><span style="color:dodgerblue">i</span> <strong>Fact of day:</strong> @Model.FactOfTheDay.Text <small>(@Model.FactOfTheDay.Source)</small></div>