@model YN_Network.ViewModels.HomeViewModel

    <div id="home-page">
        <div class="home-page-column" id="home-comic">
            <h2>
                Today Comic
            </h2>
            <hr />
            <small>Provided by <a href="https://xkcd.com" target="_blank">xkcd</a></small>
            <h3>@Model.Comic.Title</h3>
            <p><em>@Model.Comic.Alt</em></p>
            <img src="@Model.Comic.Img" width="100%" />
        </div>
        <div class="home-page-column" id="home-news">
           @{
               Html.RenderPartial("../../Areas/News/Views/Widgets/_HomePageNewsWidget", Model.Articles);
           }
        </div>
    </div>