@model YN_Network.Areas.Search.ViewModels.ResultViewModel
<h2>Search results for @Model.Query</h2>
<div>
    @foreach (YN_Network.Areas.Search.Models.Topic topic in Model.RelatedTopics)
    {
        @if (topic.Text != String.Empty)
        {
            <div>
                <h3>@topic.Text</h3>
            </div>
        }
    }
</div>
