@model YN_Network.Areas.Comics.Models.Comic
<h2>
    Today Comic
</h2>
<small>Provided by <a href="https://xkcd.com" target="_blank">xkcd</a></small>

<hr />
<div>
    <h3>@Model.Title</h3>
    <p><em>@Model.Alt</em></p>
    <img src="@Model.Img" width="100%" />
</div>