@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if ((string)ViewContext.RouteData.Values["area"] != "Search")
{
    <h2>Definitions</h2>
}
@{ 
}
<component
           type="typeof(YN_Network.Areas.Search.ViewComponents.SearchModule)"
           render-mode="ServerPrerendered" />
