
@if ((string)ViewContext.RouteData.Values["area"] != "Search")
{
    <h2>Definitions</h2>
}
<form method="get" style="display:inline-block" asp-area="Search" asp-controller="Query" asp-action="Index">
    <div class="input-group">
        <input name="query" type="text" class="input-group-field" placeholder="Enter your query here..." value="@ViewData["query"]">
        <div class="input-group-button">
            <input type="submit" class="button" value="Search!" />
        </div>
    </div>
</form>
