@model YN_Network.Areas.Jokes.ViewModels.JokesIndexViewModel
<div class="row">
    <div class="small-12">
        <h2>Jokes</h2>

       @if (Model.Jokes.Count > 0)
        {
            @foreach (YN_Network.Areas.Jokes.Models.Joke joke in Model.Jokes)
            {
               await Html.RenderPartialAsync("../Partials/_JokeItem", joke);

            }
       }
       else
       {
            <div class="callout alert">
                Unfortunately there are no jokes
                @if (Model.FilteredByType)
                {
                    <span>for this type</span>
                }
                :(

            </div>
            @if (Model.FilteredByType)
            {
                <a asp-area="Jokes" asp-controller="Home" asp-action="Index">Go Back</a>
            }
        }

    </div>
</div>