<div>

    <small>Provided by <a href="https://xkcd.com" target="_blank">xkcd</a></small>
    <div>
        <h3>@Comic.Title</h3>
        <p><em>@Comic.Alt</em></p>
        <img src="@Comic.Img" width="100%" />
    </div>
</div>

@code {
    [Parameter]
    public Comics.Models.Comic Comic { get; set; }
}
