@model ICollection<YN_Network.Areas.News.Models.Article>
<h2>News</h2>
<small>Provided by: <a href="#">News API</a></small>
@foreach (YN_Network.Areas.News.Models.Article article in Model)
{
    <div>
        @{Html.RenderPartial("../../Areas/News/Views/Partials/_ArticleItem", article);
        }
    </div>
}
