body, h2 {
    margin: 0;
    padding: 0;
}



header {
    background: purple;
    color: #fff;
}

#topbar {
    background: #333;
    color: #fff;
}

    #topbar #fact {
    }

    #topbar > div {
    }

    #topbar a {
        color: inherit;
    }


#content {
}


.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-decoration: none;
}

#home-page, footer {
}

    #home-page .home-page-column {
        width: 250px;
        float: left;
        padding: 5px;
        box-sizing: border-box;
    }

        #home-page .home-page-column.wide {
            width: 600px;
        }

        #home-page .home-page-column:last-child {
            clear: right;
        }
