@model YN_Network.Areas.Jokes.Models.Joke
<h2>Joke</h2>
<small>Provided by <a href="#">Official Joke API</a></small>
        @{
            await Html.RenderPartialAsync("../../Areas/Jokes/Views/Partials/_JokeItem", Model);
        }