@model YN_Network.Areas.Questions.Models.Question

<div class="row">
    <div class="columns small-12 medium-8 medium-offset-2">
        <hr />
        <h2>
            <i class="far fa-question-circle"></i> <strong>@Html.DisplayFor(model => model.Title)</strong>
        </h2>
        <div class="question-body">
            <em>@Html.DisplayFor(model => model.Description)</em>
            <div id="voting-buttons" style="padding-top:10px;">
                <button class="button button-lg vote-option-a">75%</button>
                <button class="button button-lg vote-option-b">25%</button>
            </div>
        </div>
        <div class="question-discussion">
            <h3>Discuss</h3>
        </div>
        <div class="question-actions">

            @if (User.Identity.IsAuthenticated == true)
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

            }
            <a href="?results=show">View Results</a>
            | <a asp-action="Index">Back to Questions Index</a>
        </div>
    </div>
</div>