    <div class="row">
        <div class="columns">
            An original YN Network feature. Coming Soon!
        </div>
    </div>

<div class="row">
    <div class="columns small-12 medium-8">
        <h3>
            Latest Questions
        </h3>
    </div>
    <div class="columns small-12 medium-4">
        <h3>Most Popular</h3>
    </div>
</div>